/* Default Styles */

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700');

$header-font: "Roboto", sans-serif;
$body-font: "Montserrat", sans-serif;

/* COLORS */
$accent: #4e71ab;
$primary: #ff7600;
$secondary: #00d70e;

/* Basic Style Reset */
html {
    box-sizing: border-box;
    font-family: $body-font;
    letter-spacing: 0.03125rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $header-font;
}

img {
    display: block;
    max-width: 100%;
}

/* App Section */
.app {
    min-width: 20rem;
    position: relative;
}

/* Header Section */
.header {
    display: flex;
    position: relative;
    margin-bottom: 4.0625rem;
    flex-flow: column nowrap;

    @media screen and (min-width: 600px) {
        margin-bottom: 8rem;
    }

    @media screen and (min-width: 769px) {
        margin-top: 1rem;
        margin-bottom: 4.75rem;
    }

    h1,
    span {
        z-index: 10;
    }

    &-top {
        top: 0;
        left: 0;
        flex: 1;
        width: 100%;
        display: flex;
        flex-flow: column;
        position: absolute;
        align-items: center;

        @media screen and (min-width: 769px) {
            flex: unset;
        }

        &__title {
            color: #fff;
            margin-top: 10rem;
            font-size: 2.25rem;

            @media screen and (min-width: 600px) {
                margin-top: 15rem;
                font-size: 4.0625rem;
            }

            @media screen and (min-width: 769px) {
                margin-top: 6.75rem;
            }
        }

        &__subtitle {
            color: $primary;
            font-size: 1.25rem;
            margin-top: 1.25rem;

            @media screen and (min-width: 600px) {
                font-size: 1.875rem;
            }
        }

        &__subtitle--highlight {
            color: $secondary;
        }

        &__sub-subtitle {
            color: #fff;
            font-size: 0.85rem;
            margin-top: 0.625rem;

            @media screen and (min-width: 600px) {
                font-size: 1.25rem;
            }
        }
    }

    &-bot {
        left: 0;
        bottom: 0;
        width: 100%;
        position: absolute;

        &-container {
            display: flex;
            position: relative;
            justify-content: center;

            @media screen and (min-width: 600px) {
                margin: 0 auto;
                max-width: 37.5rem;
            }

            @media screen and (min-width: 769px) {
                display: block;
                max-width: 79.5rem;
                justify-content: unset;
            }
        }

        &__icon {
            i {
                font-size: 3rem;

                @media screen and (min-width: 600px) {
                    font-size: 3.75rem;
                }
            }
        }

        &__resume {
            right: 0;
            bottom: 0;
            color: $accent;
            margin-right: 1rem;
            font-size: 0.85rem;
            position: absolute;
            padding-bottom: 0.3125rem;

            @media screen and (min-width: 600px) {
                margin-right: 0;
            }

            @media screen and (min-width: 769px) {
                color: #fff;
                padding-right: 1.5rem;
            }
        }
    }

    &__picture {
        display: flex;
        justify-content: center;
    }

    &__svg {
        left: 0;
        bottom: 0;
        z-index: 5;
        position: absolute;

        @media screen and (min-width: 769px) {
            top: 50%;
            z-index: -1;
            width: 100%;
            height: 10.3125rem;
            transform: translateY(-50%);
        }
    }
}

/* Main Projects Section */
.projects {
    display: grid;
    margin: 0 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (min-width: 600px) {
        margin: 0 auto;
        max-width: 37.5rem;
        grid-template-columns: repeat(8, 1fr);
    }

    @media screen and (min-width: 769px) {
        max-width: 79.5rem;
        margin-bottom: 6.75rem;
        grid-template-columns: repeat(12, 1fr);
    }

    .project {
        position: relative;
        grid-column: 1 / 5;
        margin-bottom: 3rem;

        @media screen and (min-width: 600px) {
            grid-column: 1/ 9;
        }

        @media screen and (min-width: 769px) {
            &.one {
                grid-column: 1 / 5;
            }

            &.two {
                grid-column: 5 / 9;
            }

            &.three {
                grid-column: 9 / 13;
            }
        }

        &-header {
            display: flex;
            position: relative;
            align-items: center;
            margin-bottom: 0.3125rem;

            &__icon {
                color: $primary;
    
                i {
                    font-size: 1.25rem;

                    @media screen and (min-width: 600px) {
                        font-size: 2rem;
                    }

                    @media screen and (min-width: 769px) {
                        font-size: 1rem;
                    }
                }
            }

            &__title {
                font-size: 1.25rem;
                padding-left: 0.3125rem;

                @media screen and (min-width: 600px) {
                    font-size: 2.1875rem;
                }

                @media screen and (min-width: 769px) {
                    font-size: 1rem;
                }
            }

            &:after {
                right: 0;
                bottom: 0;
                width: 50%;
                content: "";
                height: 0.625rem;
                position: absolute;
                margin-right: 0.3125rem;
                border-top: 1px solid $primary;
                border-right: 1px solid $primary;
            }
        }

        &-image {
            position: relative;

            &__img {
                width: 100%;
            }

            &-overlay {
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                transition: opacity 500ms;
                background-color: rgba(0, 0, 0, 0.75);

                &__btn {
                    color: $primary;
                    width: 7.8125rem;
                    margin: 0.625rem;
                    font-size: 0.85rem;
                    transition: color 250ms;
                    font-family: $body-font;
                    border: 1px solid $primary;
                    padding: 0.625rem 0.3125rem;
                    background-color: transparent;

                    @media screen and (min-width: 600px) {
                        width: 15rem;
                        padding: 1rem;
                        margin: 1.25rem;
                        font-size: 1.5625rem;
                    }

                    @media screen and (min-width: 769px) {
                        margin: 0.75rem;
                        font-size: 1rem;
                    }

                    &:hover {
                        color: #fff;
                        cursor: pointer;
                        border: 1px solid #fff;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        &:after {
            left: 0;
            width: 95%;
            content: "";
            height: 0.625rem;
            bottom: -0.9375rem;
            position: absolute;
            border-left: 1px solid $primary;
            border-right: 1px solid $primary;
            border-bottom: 1px solid $primary;
        }
    }
}

/* Footer Section */
.footer {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: space-between;

    &-images {
        top: 0;
        left: 0;
        margin-left: 1rem;
        position: absolute;

        @media screen and (min-width: 600px) {
            margin: 0;
            width: 100%;
        }

        &-container {
            margin: 0 auto;
            max-width: 37.5rem;

            @media screen and (min-width: 769px) {
                max-width: 79.5rem;
            }
        }

        &__image {
            display: inline-block;

            @media screen and (min-width: 600px) {
                width: 3.4375rem;
            }
        }
    }

    &-totop {
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        margin: 0 1rem;
        position: absolute;

        @media screen and (min-width: 600px) {
            margin: 0;
        }

        &-container {
            margin: 0 auto;
            max-width: 37.5rem;
        }

        &__icon {
            float: right;

            i {
                color: #fff;
                font-size: 2.5rem;

                @media screen and (min-width: 600px) {
                    font-size: 3.5rem;
                }
            }
        }
    }
}
